.seccion{
  margin: 10%;
  margin-top: 5%;
  margin-bottom: 0;
}

.titulo{
  font-weight: bold;
  font-size: 23px;
}

.pregunta{
  font-size: 19px;
  margin: 1%;
}

.opcion{
  font-size: 17px;
  margin: 1%;
  width: 80%;
}

.radio{
  margin: 1%;
  font-size: 17px;
}

.btnRow{
  margin: 5%;
  margin-left: 40%;
}

.btn{
  margin-left: 5%;
}