<label class="etiqueta">Nombre Completo:</label>
<label class="valor">{{personaActual.nombre}}</label>
<label class="etiqueta">Sexo:</label>
<label class="valor">{{personaActual.sexo}}</label>
<label class="etiqueta">Edad:</label>
<label class="valor">{{personaActual.edad}}</label>
<label class="etiqueta">Estado civil:</label>
<label class="valor">{{personaActual.edoCivil}}</label>
<label class="etiqueta">Nivel de estudios:</label>
<label class="valor">{{personaActual.estudios}}</label>
<label class="etiqueta">Ocupación / Puesto:</label>
<label class="valor">{{personaActual.ocupacion}}</label>
<label class="etiqueta">Departamento / Sección / Área:</label>
<label class="valor">{{personaActual.departamento}}</label>
<label class="etiqueta">Tipo de puesto:</label>
<label class="valor">{{personaActual.puesto}}</label>
<label class="etiqueta">Tipo de contratación:</label>
<label class="valor">{{personaActual.contratacion}}</label>
<label class="etiqueta">Tipo de Personal:</label>
<label class="valor">{{personaActual.personal}}</label>
<label class="etiqueta">Tipo de jornada de trabajo:</label>
<label class="valor">{{personaActual.jornada}}</label>
<label class="etiqueta">Realiza rotación de turnos:</label>
<label class="valor">{{personaActual.rotacion}}</label>
<label class="etiqueta">Tiempo en el puesto actual:</label>
<label class="valor">{{personaActual.expActual}}</label>
<label class="etiqueta">Tiempo experiencia laboral:</label>
<label class="valor">{{personaActual.expTotal}}</label>
<button mat-raised-button color="primary" class="btn" (click)="onNoClick()">Aceptar</button>
