<div class="container">
  <section class="seccion">
    <label class="progreso">Progreso:</label>
    <mat-progress-bar
      [color]="'primary'"
      [mode]="'determinate'"
      [value]="progreso">
    </mat-progress-bar>
  </section>
  <div class="seccion" *ngIf="seccion == 1">
    <div>
      <label class="titulo">Para responder las preguntas siguientes considere las condiciones de su centro de
        trabajo, así como la cantidad y ritmo de trabajo.</label>
      <label class="opcion2">1.-Mi trabajo me exige hacer mucho esfuerzo físico</label>
      <mat-radio-group [(ngModel)]="quest2.preg1">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">2.-Me preocupa sufrir un accidente en mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg2">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">3.-Considero que las actividades que realizo son peligrosas</label>
      <mat-radio-group [(ngModel)]="quest2.preg3">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">4.-Por la cantidad de trabajo que tengo debo quedarme tiempo adicional a mi
        turno</label>
      <mat-radio-group [(ngModel)]="quest2.preg4">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">5.-Por la cantidad de trabajo que tengo debo trabajar sin parar</label>
      <mat-radio-group [(ngModel)]="quest2.preg5">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">6.-Considero que es necesario mantener un ritmo de trabajo acelerado</label>
      <mat-radio-group [(ngModel)]="quest2.preg6">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">7.-Mi trabajo exige que esté muy concentrado</label>
      <mat-radio-group [(ngModel)]="quest2.preg7">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">8.-Mi trabajo requiere que memorice mucha información</label>
      <mat-radio-group [(ngModel)]="quest2.preg8">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">9.-Mi trabajo exige que atienda varios asuntos al mismo tiempo</label>
      <mat-radio-group [(ngModel)]="quest2.preg9">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 2">
    <div>
      <label class="titulo">Las preguntas siguientes están relacionadas con las actividades que realiza en su
        trabajo y las responsabilidades que tiene.</label>
      <label class="opcion2">10.-En mi trabajo soy responsable de cosas de mucho valor</label>
      <mat-radio-group [(ngModel)]="quest2.preg10">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">11.-Respondo ante mi jefe por los resultados de toda mi área de trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg11">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">12.-En mi trabajo me dan órdenes contradictorias</label>
      <mat-radio-group [(ngModel)]="quest2.preg12">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">13.-Considero que en mi trabajo me piden hacer cosas innecesarias</label>
      <mat-radio-group [(ngModel)]="quest2.preg13">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 3">
    <div>
      <label class="titulo">Las preguntas siguientes están relacionadas con el tiempo destinado a su trabajo y sus
        responsabilidades familiares.</label>
      <label class="opcion2">14.-Trabajo horas extras más de tres veces a la semana</label>
      <mat-radio-group [(ngModel)]="quest2.preg14">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">15.-Mi trabajo me exige laborar en días de descanso, festivos o fines de
        semana</label>
      <mat-radio-group [(ngModel)]="quest2.preg15">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">16.-Considero que el tiempo en el trabajo es mucho y perjudica mis actividades
        familiares o personales</label>
      <mat-radio-group [(ngModel)]="quest2.preg16">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">17.-Pienso en las actividades familiares o personales cuando estoy en mi
        trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg17">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 4">
    <div>
      <label class="titulo">Las preguntas siguientes están relacionadas con las decisiones que puede tomar en su
        trabajo.</label>
      <label class="opcion2">18.-Mi trabajo permite que desarrolle nuevas habilidades</label>
      <mat-radio-group [(ngModel)]="quest2.preg18">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">19.-En mi trabajo puedo aspirar a un mejor puesto</label>
      <mat-radio-group [(ngModel)]="quest2.preg19">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">20.-Durante mi jornada de trabajo puedo tomar pausas cuando las necesito</label>
      <mat-radio-group [(ngModel)]="quest2.preg20">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">21.-Puedo decidir la velocidad a la que realizo mis actividades en mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg21">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">22.-Puedo cambiar el orden de las actividades que realizo en mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg22">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 5">
    <div>
      <label class="titulo">Las preguntas siguientes están relacionadas con la capacitación e información que
        recibe sobre su trabajo.</label>
      <label class="opcion2">23.-Me informan con claridad cuáles son mis funciones</label>
      <mat-radio-group [(ngModel)]="quest2.preg23">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">24.-Me explican claramente los resultados que debo obtener en mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg24">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">25.-Me informan con quién puedo resolver problemas o asuntos de trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg25">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">26.-Me permiten asistir a capacitaciones relacionadas con mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg26">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">27.-Recibo capacitación útil para hacer mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg27">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 6">
    <div>
      <label class="titulo">Las preguntas siguientes se refieren a las relaciones con sus compañeros de trabajo y
        su jefe.</label>
      <label class="opcion2">28.-Mi jefe tiene en cuenta mis puntos de vista y opiniones</label>
      <mat-radio-group [(ngModel)]="quest2.preg28">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">29.-Mi jefe ayuda a solucionar los problemas que se presentan en el trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg29">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">30.-Puedo confiar en mis compañeros de trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg30">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">31.-Cuando tenemos que realizar trabajo de equipo los compañeros colaboran</label>
      <mat-radio-group [(ngModel)]="quest2.preg31">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">32.-Mis compañeros de trabajo me ayudan cuando tengo dificultades</label>
      <mat-radio-group [(ngModel)]="quest2.preg32">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">33.-En mi trabajo puedo expresarme libremente sin interrupciones</label>
      <mat-radio-group [(ngModel)]="quest2.preg33">
        <mat-radio-button value="0" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="4" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">34.-Recibo críticas constantes a mi persona y/o trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg34">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">35.-Recibo burlas, calumnias, difamaciones, humillaciones o ridiculizaciones</label>
      <mat-radio-group [(ngModel)]="quest2.preg35">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">36.-Se ignora mi presencia o se me excluye de las reuniones de trabajo y en la toma
        de decisiones</label>
      <mat-radio-group [(ngModel)]="quest2.preg36">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">37.-Se manipulan las situaciones de trabajo para hacerme parecer un mal
        trabajador</label>
      <mat-radio-group [(ngModel)]="quest2.preg37">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">38.-Se ignoran mis éxitos laborales y se atribuyen a otros trabajadores</label>
      <mat-radio-group [(ngModel)]="quest2.preg38">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">39.-Me bloquean o impiden las oportunidades que tengo para obtener ascenso o mejora
        en mi trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg39">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
      <label class="opcion2">40.-He presenciado actos de violencia en mi centro de trabajo</label>
      <mat-radio-group [(ngModel)]="quest2.preg40">
        <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
        <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
        <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
        <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 7">
    <div>
      <label class="titulo">Las preguntas siguientes están relacionadas con la atención a clientes y usuarios.</label>
      <label class="opcion">En mi trabajo debo brindar servicio a clientes o usuarios:</label>
      <mat-radio-group  [(ngModel)]="serCliente" (change)="clienteChange($event)">
        <mat-radio-button value="1" class="radio" color="primary">Si</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">No</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="serCliente == 1">
        <label class="opcion2">41.-Atiendo clientes o usuarios muy enojados</label>
        <mat-radio-group [(ngModel)]="quest2.preg41">
          <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
          <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
          <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
          <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
          <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
        </mat-radio-group>
        <label class="opcion2">42.-Mi trabajo me exige atender personas muy necesitadas de ayuda o enfermas</label>
        <mat-radio-group [(ngModel)]="quest2.preg42">
          <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
          <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
          <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
          <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
          <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
        </mat-radio-group>
        <label class="opcion2">43.-Para hacer mi trabajo debo demostrar sentimientos distintos a los míos</label>
        <mat-radio-group [(ngModel)]="quest2.preg43">
          <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
          <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
          <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
          <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
          <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <div class="seccion" *ngIf="seccion == 8">
    <div>
      <label class="opcion">Soy jefe de otros trabajadores:</label>
      <mat-radio-group [(ngModel)]="esJefe" (change)="jefeChange($event)">
        <mat-radio-button value="1" class="radio" color="primary">Si</mat-radio-button>
        <mat-radio-button value="0" class="radio" color="primary">No</mat-radio-button>
      </mat-radio-group>
      <div *ngIf="esJefe == 1">
        <label class="opcion2">44.-Comunican tarde los asuntos de trabajo</label>
        <mat-radio-group [(ngModel)]="quest2.preg44">
          <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
          <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
          <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
          <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
          <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
        </mat-radio-group>
        <label class="opcion2">45.-Dificultan el logro de los resultados del trabajo</label>
        <mat-radio-group [(ngModel)]="quest2.preg45">
          <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
          <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
          <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
          <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
          <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
        </mat-radio-group>
        <label class="opcion2">46.-Ignoran las sugerencias para mejorar su trabajo</label>
        <mat-radio-group [(ngModel)]="quest2.preg46">
          <mat-radio-button value="4" class="radio" color="primary">Siempre</mat-radio-button>
          <mat-radio-button value="3" class="radio" color="primary">Casi siempre</mat-radio-button>
          <mat-radio-button value="2" class="radio" color="primary">Agunas veces</mat-radio-button>
          <mat-radio-button value="1" class="radio" color="primary">Casi nunca</mat-radio-button>
          <mat-radio-button value="0" class="radio" color="primary">Nunca</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
  </div>
  <mat-error *ngIf="error === 1" class="seccion">
    Favor de ingresar todos los datos
  </mat-error>
  <div class="btnRow">
    <button mat-raised-button color="warn" *ngIf="seccion > 1" (click)="anterior()">Anterior</button>
    <button mat-raised-button color="primary" class="btn" (click)="siguiente()">Siguiente</button>
  </div>
</div>
