.example-container {
  max-height: 600px;
  width: 80%;
  overflow: auto;
  margin-left: 10%;
  margin-top: 30px;
}
table{
  width: 100%;
}

.filtro{
  width: 100%;
  margin-top: 20px;
}

.quests{
  margin-top: 30px;
}
::ng-deep .mat-tab-labels > .mat-tab-label:first-child {
  display: none;
}
.ayuda{
  width: 100%;
  background-color: rgba(255, 99, 132, 0.2);
  border: 3px solid rgba(255,99,132,1);
  padding: 10px;
  color: #3F50B5;
  cursor: pointer;
}
.noAyuda{
  width: 100%;
  background-color: rgba(75, 192, 192, 0.2);
  border: 3px solid rgba(75, 192, 192, 1);
  padding: 10px;
  color: #3F50B5;
  cursor: pointer;
}
.cuerpoQuest{
  max-height: 500px;
  overflow-y: visible;
  width: 100%;
}
.graph{
  width: 800px;
  margin-left: 10%;
  margin-top: 5%;
}
.img2{
  height: 50px;
  width: 100px;
}
.imagen2{
  position: absolute;
  left: 73%;
  display: none;
}
.imagen2Print{
  position: absolute;
  left: 73%;
  margin-bottom: 100px;
}

.resQues1{
  width: 100%;
}
.titulo{
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  color: #3F50B5;
  text-align: center;
  margin-top: 50px;
}
.subtitulo{
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  color: #3F50B5;
  margin-top: 50px;
}
.opcion{
  width: 100%;
  font-size: 16px;
  color: #3F50B5;
}
.cell{
  width: 20%;
  text-align: center;
  padding: 1px;
  color: #3F50B5;
}
.textFinal{
  width: 100%;
  text-align: justify;
}

.tabAyuda{
  width: 100%;
  margin-top: 5%;
}
.tab1{
  width: 50%;
  margin-left: 10%;
  font-size: 18px;
  text-align: center;
  color: #3F50B5;
  padding: 10px;
}
.tab2{
  width: 25%;
  font-size: 18px;
  text-align: center;
  color: #3F50B5;
  padding: 10px;
}
