<app-menu></app-menu>
<div class="container">
  <div class="nuevaEncuesta" *ngIf="newId === null">
    <mat-grid-list cols="1" rowHeight="60px">
      <mat-grid-tile>
        <label class="titulo">Nueva Encuesta</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="opcion">Empresa:</label>
        <mat-select class="select" placeholder="Seleccione la empresa" [(ngModel)]="nuevaEncuesta.idEmpresa"
                    name="empresa">
          <mat-option [value]="empresa.id" *ngFor="let empresa of empresas">
            {{empresa.razonSocial}}
          </mat-option>
        </mat-select>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="opcion">Número de Personas:</label>
        <mat-form-field class="input">
          <input matInput [(ngModel)]="nuevaEncuesta.numPersonas" name="numPersonas" type="number"/>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="opcion">Questionarios a realizar:</label>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="150px">
      <mat-grid-tile>
        <section class="section">
          <mat-checkbox [(ngModel)]="nuevaEncuesta.quest1">IDENTIFICAR A LOS TRABAJADORES QUE FUERON SUJETOS A
            ACONTECIMIENTOS TRAUMÁTICOS SEVEROS
          </mat-checkbox>
          <mat-checkbox [(ngModel)]="nuevaEncuesta.quest2">FACTORES DE RIESGO PSICOSOCIAL</mat-checkbox>
          <mat-checkbox [(ngModel)]="nuevaEncuesta.quest3" class="checkbox">FACTORES DE RIESGO PSICOSOCIAL Y EVALUACIÓN
            DEL ENTORNO ORGANIZACIONAL EN LOS CENTROS DE TRABAJO
          </mat-checkbox>
        </section>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-error *ngIf="error === 1" style="margin-left: 40px;">
      Debe seleccionar empresa e indicar número de personas.
    </mat-error>
    <div class="btnRow">
      <button mat-raised-button color="warn" (click)="cancelar()">Cancelar</button>
      <button mat-raised-button color="primary" class="btn" (click)="save()">Crear</button>
    </div>
  </div>
  <div class="nuevaEncuesta" *ngIf="newId !== null">
    <div class="exito">
      <label class="exitoTit">Éxito</label>
      <label class="text">
        Encuesta generada correctamente con el siguiente folio:
        <label class="newFolio">
          {{newId}}
        </label>
      </label>
      <div style="width: 100%;">
        <button mat-raised-button color="primary" class="uniqueBtn" (click)="cancelar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
