<app-menu></app-menu>
<div class="container">

  <mat-grid-list cols="3" >
    <mat-grid-tile>
      <mat-card class="card" [routerLink]="['/empresas']">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">Empresas</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="img" src="../../assets/img/empresa.png">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card" [routerLink]="['/nueva']">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">Nueva Encuesta</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="img" src="../../assets/img/encuesta.png">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="card" [routerLink]="['/resultados']">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="text-align: center;">Resultados</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img class="img" src="../../assets/img/resultados.jpeg">
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>






</div>
